Repository ghdcksgml1/N-bbang-housework, pull requests merged in 2023-08, with the labels that each got.

#22 chore(#9): swagger setting
  heachi-core/auth-api/build.gradle
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/AppConfig.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/advice/GlobalExceptionHandler.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/filter/JwtAuthenticationFilter.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/security/SecurityConfig.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/swagger/SwaggerConfig.java
Labels: setting

#31 chore(#27): GitHub Action CI 파이프라인 구축
  .github/workflows/CI_dev_pull_request.yml
  .github/workflows/CI_main_push.yml
Labels: chore

#40 feat(#39): heachi notify
  heachi-core/auth-api/src/main/java/com/heachi/auth/api/controller/auth/AuthController.java
  heachi-domain-mongo/src/main/java/com/heachi/mongo/define/notify/Notify.java
  heachi-notify/build.gradle
  heachi-notify/src/main/java/com/heachi/notify/api/controller/NotifyController.java
  heachi-notify/src/main/java/com/heachi/notify/api/controller/request/NotifyRegistRequest.java
  heachi-notify/src/main/java/com/heachi/notify/api/service/NotifyService.java
  heachi-notify/src/main/java/com/heachi/notify/api/service/auth/AuthService.java
  heachi-notify/src/main/java/com/heachi/notify/api/service/notify/NotifyService.java
  heachi-notify/src/main/java/com/heachi/notify/api/service/notify/request/NotifyServiceRegistRequest.java
  heachi-notify/src/main/java/com/heachi/notify/api/service/notify/response/NotifyServiceReceiverResponse.java
  heachi-notify/src/main/java/com/heachi/notify/config/advice/GlobalExceptionHandler.java
  heachi-notify/src/test/java/com/heachi/notify/api/service/NotifyServiceTest.java
  heachi-notify/src/test/java/com/heachi/notify/api/service/auth/AuthServiceTest.java
  heachi-notify/src/test/java/com/heachi/notify/api/service/notify/NotifyServiceTest.java
  heachi-notify/src/test/java/com/heachi/notify/config/advice/GlobalExceptionHandlerTest.java
  heachi-support/common/src/main/java/com/heachi/admin/common/exception/ExceptionMessage.java
  heachi-support/common/src/main/java/com/heachi/admin/common/exception/auth/AuthException.java
  heachi-support/external-clients/build.gradle
  heachi-support/external-clients/src/main/java/com/heachi/external/clients/auth/AuthClients.java
  heachi-support/external-clients/src/main/java/com/heachi/external/clients/auth/response/UserInfoResponse.java
Labels: feat, test

#37 feat(#38): heachi core auth Register 구현
  gradle.properties
  heachi-core/auth-api/src/main/java/com/heachi/auth/HeachiAuthApplication.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/api/controller/auth/AuthController.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/api/controller/auth/request/AuthRegisterRequest.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/api/service/auth/AuthService.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/api/service/auth/request/AuthServiceRegisterRequest.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/advice/GlobalExceptionHandler.java
  heachi-core/auth-api/src/main/java/com/heachi/auth/config/security/SecurityConfig.java
  heachi-core/auth-api/src/test/java/com/heachi/auth/api/controller/auth/AuthControllerTest.java
  heachi-core/auth-api/src/test/java/com/heachi/auth/api/service/auth/AuthServiceTest.java
  heachi-domain-mysql/src/main/java/com/heachi/mysql/define/user/User.java
  heachi-support/common/src/main/java/com/heachi/admin/common/exception/ExceptionMessage.java
Labels: feat, test, 🥸 이주성 (진행중)
